# Byte-compiled / optimized / DLL files
/__pycache__/
cogs/__pycache__
helpers/__pycache__
*.py[cod]
*$py.class

# Keys
credentials.json
secret_key.json
token.json
shellhacks_firebase.json

# Environments
.env
/env
.DS_Store